.float_r{
  width: 100%;
  display: block;
  text-align: right;
}
.float_r i{
  font-size: 32px;
}
.crazy-color{
  background: #E6E1E1;
}
.decent-color{
  background: #EFEFEF;
}
.x{
  background: #E6E1E1;
}
.comment_wrapper{
  margin-bottom: 8%;
  text-align: left;
}
.comment_wrapper h5{
  padding-left: 1rem;
}
.collapsible-header i.material-icons {
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-ttransition: all 0.3s linear;
	transition: all 0.3s linear;
}
.collapsible-header.active i.material-icons {
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.collapsible-body .comment_wrapper{
  margin-bottom: 0;
}
.collapsible-body p, .comment_wrapper p{
  padding: 1rem 0rem 1rem 1.5rem;
}
.itm {
	padding-left: 1.5%;
	padding-right: 0.5%;
}
.collapsible-body .comment_wrapper .collapsible{
  box-shadow: 0 0 0 0!important;
  border: 0;
}
.float_l{
  float: left;
}
.search_icon{
  font-size: 3em;
  float: left;
}
.search_bar{
  width: calc(100% - 3.5em) !important;
  padding-left: 0.5em !important;
  font-size: 1.5em;
}
.brand-logo{
  padding-left: 0.5em !important;
}
.row_value{
	margin-left: 1%;
}
.row_profil div p{
}
.chip{
  line-height: 25px;
  height: 1.8em;
}
a{
  color: black;
}
.dashboard_info_container{
  height: 300px;
  overflow-y: scroll;

}
.tabs .tab a{
  color: #8BC34A !important;
  font-weight: bold;
}
.tabs .indicator{
  background-color: #8BC34A !important;
}
div #surveys , #groups{
  padding: 0;
}
.modal-trigger img:hover {
    filter: blur(15px);
    opacity: 0.5;
  }
#gallery img{
  float: left;
  padding: 7px;
}
#addmem{
  float: left;
  padding: 5px;
}
#loading{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    display:none;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#gallery{
  margin-top: 15px;
  width: 100%;
}
.brand-logo{
  padding-left: 0.5em !important;
}
.avatar{
	position: relative;
	width: 100%;
	background-size: cover !important;
	background-position: center !important;
}
.avatar:before{
	content: "";
	display: block;
	padding-top: 100%;
}
